In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv('SDnobel.csv')

Exploratory Data Analysis

In [5]:
#information about the dataset
print("Nobel Prize Winners Dataset:")
print("\n\nHead about the dataset:")
print(data.head())
print("----------------------------------------")
print("\n\nShape about the dataset:")
print(data.shape)
print("----------------------------------------")
print("\n\nColumns about the dataset:")
print(data.columns)
print("\n\nChecking for missing values in each column:")
print(data.isnull().sum())
print("----------------------------------------")
print("\n\nNumber of duplicated rows in the dataset:")
print(data.duplicated().sum())
print("----------------------------------------")
print("\n\nInformation about the dataset:")
print(data.info())
print("----------------------------------------")
print("\n\nStatistical summary of the dataset:")
print(data.describe())
print("----------------------------------------")
print("\n\nUnique values in each column:")
for column in data.columns:
    print(f"{column}: {data[column].nunique()}")

Nobel Prize Winners Dataset:


Head about the dataset:
   Unnamed: 0  year    category  \
0           0  1901   Chemistry
1           1  1901  Literature
2           2  1901    Medicine
3           3  1901       Peace
4           4  1901       Peace

                                            prize  \
0               The Nobel Prize in Chemistry 1901
1              The Nobel Prize in Literature 1901
2  The Nobel Prize in Physiology or Medicine 1901
3                      The Nobel Peace Prize 1901
4                      The Nobel Peace Prize 1901

                                          motivation prize_share  laureate_id  \
0  "in recognition of the extraordinary services ...         1/1          160
1  "in special recognition of his poetic composit...         1/1          569
2  "for his work on serum therapy, especially its...         1/1          293
3                                                NaN         1/2          462
4                                                NaN         1/2          463

  laureate_type                     full_name  birth_date  ...  \
0    Individual  Jacobus Henricus van 't Hoff  1852-08-30  ...
1    Individual               Sully Prudhomme  1839-03-16  ...
2    Individual        Emil Adolf von Behring  1854-03-15  ...
3    Individual             Jean Henry Dunant  1828-05-08  ...
4    Individual                Frédéric Passy  1822-05-20  ...

  organization_city organization_country  death_date death_city death_country  \
0            Berlin              Germany  1911-03-01     Berlin       Germany
1               NaN                  NaN  1907-09-07   Châtenay        France
2           Marburg              Germany  1917-03-31    Marburg       Germany
3               NaN                  NaN  1910-10-30     Heiden   Switzerland
4               NaN                  NaN  1912-06-12      Paris        France

  usa_born_winner decade female   age  age_group
0           False   1900  False  49.0      Adult
1           False   1900  False  62.0      Adult
2           False   1900  False  47.0      Adult
3           False   1900  False  73.0     Senior
4           False   1900  False  79.0     Senior

[5 rows x 24 columns]
----------------------------------------


Shape about the dataset:
(911, 24)
----------------------------------------


Columns about the dataset:
Index(['Unnamed: 0', 'year', 'category', 'prize', 'motivation', 'prize_share',
       'laureate_id', 'laureate_type', 'full_name', 'birth_date', 'birth_city',
       'birth_country', 'sex', 'organization_name', 'organization_city',
       'organization_country', 'death_date', 'death_city', 'death_country',
       'usa_born_winner', 'decade', 'female', 'age', 'age_group'],
      dtype='object')


Checking for missing values in each column:
Unnamed: 0                0
year                      0
category                  0
prize                     0
motivation               88
prize_share               0
laureate_id               0
laureate_type             0
full_name                 0
birth_date               28
birth_city               28
birth_country            26
sex                      26
organization_name       246
organization_city       244
organization_country    244
death_date              318
death_city              335
death_country           329
usa_born_winner           0
decade                    0
female                    0
age                      28
age_group                 0
dtype: int64
----------------------------------------


Number of duplicated rows in the dataset:
0
----------------------------------------


Information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            911 non-null    int64
 1   year                  911 non-null    int64
 2   category              911 non-null    object
 3   prize                 911 non-null    object
 4   motivation            823 non-null    object
 5   prize_share           911 non-null    object
 6   laureate_id           911 non-null    int64
 7   laureate_type         911 non-null    object
 8   full_name             911 non-null    object
 9   birth_date            883 non-null    object
 10  birth_city            883 non-null    object
 11  birth_country         885 non-null    object
 12  sex                   885 non-null    object
 13  organization_name     665 non-null    object
 14  organization_city     667 non-null    object
 15  organization_country  667 non-null    object
 16  death_date            593 non-null    object
 17  death_city            576 non-null    object
 18  death_country         582 non-null    object
 19  usa_born_winner       911 non-null    bool
 20  decade                911 non-null    int64
 21  female                911 non-null    bool
 22  age                   883 non-null    float64
 23  age_group             911 non-null    object
dtypes: bool(2), float64(1), int64(4), object(17)
memory usage: 158.5+ KB
None
----------------------------------------


Statistical summary of the dataset:
       Unnamed: 0         year  laureate_id       decade         age
count  911.000000   911.000000   911.000000   911.000000  883.000000
mean   455.000000  1969.201976   462.515917  1964.698134   59.453001
std    263.127346    32.837978   270.236159    32.998368   12.399290
min      0.000000  1901.000000     1.000000  1900.000000   17.000000
25%    227.500000  1946.000000   228.500000  1940.000000   50.000000
50%    455.000000  1975.000000   457.000000  1970.000000   60.000000
75%    682.500000  1997.000000   698.500000  1990.000000   69.000000
max    910.000000  2016.000000   937.000000  2010.000000   90.000000
----------------------------------------


Unique values in each column:
Unnamed: 0: 911
year: 113
category: 6
prize: 579
motivation: 565
prize_share: 4
laureate_id: 904
laureate_type: 2
full_name: 904
birth_date: 868
birth_city: 601
birth_country: 121
sex: 2
organization_name: 295
organization_city: 181
organization_country: 29
death_date: 582
death_city: 291
death_country: 50
usa_born_winner: 2
decade: 12
female: 2
age: 62
age_group: 3

In [6]:
#dropping Unnamed: 0 column
data = data.drop(columns=['Unnamed: 0'])

In [7]:
# --- STEP 1: CALCULATIONS & FLAGS (Do this while NaNs still exist) ---
# Create the boolean flag before filling NaNs with "Alive"
data["is_alive"] = data["death_date"].isnull()

# Optional: Only set age=0 for organizations to distinguish them from human winners
if 'laureate_type' in data.columns:
    data.loc[data["laureate_type"] == "Organization", "age"] = 0

# --- STEP 2: DISPLAY COLUMNS (Human Readable) ---

# Create a display version of birth_date so the original remains a "date" type
data["birth_date_display"] = data["birth_date"].fillna("Not Applicable")

# --- STEP 3: CATEGORICAL/TEXT FILLING ---

data["age_group"] = data["age_group"].fillna("Unknown")
data["motivation"] = data["motivation"].fillna("Not Available")
data["birth_city"] = data["birth_city"].fillna("Unknown")
data["birth_country"] = data["birth_country"].fillna("Unknown")
data["sex"] = data["sex"].fillna("Organization")

# Organization columns
data["organization_name"] = data["organization_name"].fillna("Independent/None")
data["organization_city"] = data["organization_city"].fillna("Not Mentioned")
data["organization_country"] = data["organization_country"].fillna("Not Mentioned")

# --- STEP 4: DEATH COLUMNS (Only if you are done with date-math!) ---

data["death_date_display"] = data["death_date"].fillna("Alive") # Better to use a display column here too
data["death_city"] = data["death_city"].fillna("Alive")
data["death_country"] = data["death_country"].fillna("Alive")

In [8]:
#verfication of missing values after cleaning
data.isnull().sum()

year                      0
category                  0
prize                     0
motivation                0
prize_share               0
laureate_id               0
laureate_type             0
full_name                 0
birth_date               28
birth_city                0
birth_country             0
sex                       0
organization_name         0
organization_city         0
organization_country      0
death_date              318
death_city                0
death_country             0
usa_born_winner           0
decade                    0
female                    0
age                       2
age_group                 0
is_alive                  0
birth_date_display        0
death_date_display        0
dtype: int64

In [ ]:
#filling missing age values with median age
data["age"] = data["age"].fillna(data["age"].median())

In [10]:
#verfication of missing values after cleaning
data.isnull().sum()

year                      0
category                  0
prize                     0
motivation                0
prize_share               0
laureate_id               0
laureate_type             0
full_name                 0
birth_date               28
birth_city                0
birth_country             0
sex                       0
organization_name         0
organization_city         0
organization_country      0
death_date              318
death_city                0
death_country             0
usa_born_winner           0
decade                    0
female                    0
age                       0
age_group                 0
is_alive                  0
birth_date_display        0
death_date_display        0
dtype: int64

In [11]:
#exporting cleaned data to a new csv file
data.to_csv('Nobel_Prize_Winners_Cleaned.csv', index=False)